<html>
	<head>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<title>Euler tester</title>
		<style>
			.euler {
				word-wrap: break-word;
			}
			.targetPrime {
				color: white;
				background-color: #00ff00;
			}
		</style>
	</head>
	<body>
		<div class="container">
			<form class="form-inline" action="/submit_pair" method="get">
				<div class="row">
					<div class="col-xs-12 col-sm-4 col-sm-offset-4">
						<h1>Euler tester</h1>
						<p>
							Find the <input type="text" name="x" id="x" placeholder="Xth" class="form-control"></input> prime of <input type="text" name="y" id="y" placeholder="Y" class="form-control"></input> digits.
						</p>
						<p>
							<input type="checkbox" name="count_the_two" id="count_the_two"> Count the two
						</p>
						<p>
							<button class="btn btn-default" type="submit">Go for it</button>
						</p>
					</div>
				</div>
			</form>
			<div id="results">
			</div>
		</div>
	</body>
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
	<script type="text/template" id="euler-tmpl">
		<div class="row">
			<div class="col-xs-12 col-sm-4 col-sm-offset-4">
				<p>The <%= x %>th prime number of <%= y %> digits starts at position <%= position %></p>
				<p>It's <%= prime %></p>
				<p class="euler"><%= eulerNumber %></p>
				<hr>
			</div>
		</div>
	</script>
	<script type="text/javascript">
		function formatEulerNumber(results) {
			var number = results['euler'],
				lastPrime = results['primes'].pop(),	// Special-case the final prime for display
				offset = 2;

			if (results['count_the_two']) {
				offset = 1;	// Account for 0-indexing of slice vs 1-indexing of lastPrime['position']
			}

			// Partition the string into pre-targetPrime, <span>targetPrime</span>, post-targetPrime
			number = number.substring(0, lastPrime['position'] + offset) +
					 '<span class="targetPrime">' +
					 number.substring(lastPrime['position'] + offset, lastPrime['position'] + results['y'] + offset) +
					 '</span>' +
					 number.substring(lastPrime['position'] + results['y'] + offset);

			return number;
		}

		// Load the results from Flask, if available
		var results = {{ results|safe }};

		// If available, display results
		if (results) {
			var tmpl = _.template($('#euler-tmpl').html()),
				last = results['primes'].slice(-1)[0],
				eulerNumber = formatEulerNumber(results);

			$('#results').html(tmpl({
				eulerNumber: eulerNumber,
				x: results['x'],
				y: results['y'],
				position: last['position'],
				prime: last['prime']
			}));
		}
	</script>
</html>